header
{

}


h3
{
  margin: 0%;
}

.right
{

  float: right;
  margin-top: -2%;
  text-decoration: none;
}



.line
{
  text-decoration: underline;
  color: black;
}

.background
{
  background-image: url(hamburger.jpg);
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.padding
{
  padding:  20px;
}

.position
{
  
  left: 2% ;
  top: 94%;
  font-size: x-large;
}

/* .widght
{
  
   height: 500px; 
  padding: 50px;
   float: left; 
  width: 47%;
  
} 

.float
{
  float: right;
  width: 40%;
  margin-top: -56%;
  
}
*/

.center
{
  text-align: center;
}

.image
{
 float: right;
 width: 50%;
 margin-top: -35%
 
}

.left
{
  padding: 50px;
  width: 40%;
  
}

.bloc3
{
  margin-top: 10%;
}

h1
{
  font-size: xx-large;
}

.color
{
  color: cadetblue;
}

input
{
  border-right: none;
  border-top: none;
  border-left:none ;
  width: 1200px ;
}

.send
{
  width: 200px;
  
}

footer
{
  background-color: darkgrey;
  height: 90px;
}

.foot
{
  text-align: center;
  padding-top: 3%;
}



.d-flex
{
  display: flex;
  padding-top: 20px;
  padding-bottom: 10px;
  flex-shrink: 0;

}

.col
{
  flex: 1 0 0%;
  padding: 20px;
}

body
{
  font-family: 'Lato', sans-serif;
}

.lo 
{
   margin-top: 300px;
  



/*css de urse

   .line 
{
   color: white;
   text-decoration: none;
   margin-left: 0px;
   margin-right: 800px;
   margin-top: 10px;
   
}

.right
{
   margin-left: 15vh;
}

.line_1
{
   border: solid;
   padding: 5px;
   border-radius: 10px ;
   
}
.line_3
{
   border: solid;
   padding: 5px;
   border-radius: 10px ;
   
}
.line_4
{
   border: solid;
   padding: 5px;
   border-radius: 10px ;
   
}
.line_5
{
   border: solid;
   padding: 5px;
   border-radius: 10px ;
   
}