/* En tête */


body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Poppins', Arial, sans-serif, Courier, monospace;
    margin: 0;
}

header {
    margin: 0;
    width: 100%;
}

.parralax-header {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("../images/bannpic.webp");
    background-attachment: fixed;
    background-position:center ;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: brightness(80%);
}

.parralax-header::after {
    content: "Maximizing Impact";
    color: white;
    font-size: 8vw;
    font-weight: bold;
}

#navigation {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    transition: 500ms ease-in;
}

.scrolled {
    background-color: white;
    transition: 500ms ease-in;
    transform: translateY(-30px);
}

.scrolled .logo-stride,
.scrolled .moove_menu li a {
    color: black;
    transition: 500ms ease-in;
}

.scrolled .moove_menu li a:hover {
    color: rgb(187, 109, 1);
    transition: 500ms ease-in;
}

.scrolled .moove_menu div:hover {
    background-color: rgb(255, 255, 255);
    border: 2px rgb(187, 109, 1) solid;
    transition: 500ms ease-in-out;
}

.top-navbar {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(187, 109, 1, 0.5);
    padding: 10px;
}

.top-navbar ul {
    display: flex;
    list-style-type: none;
}

.top-navbar ul li {
    margin: 0px 10px;
    font-size: 1vw;
}

.top-navbar ul a {
    text-decoration: none;
    color: white;
}

.top-navbar ul a:hover {
    cursor: pointer;

    color: white;
}

.main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8em;
    box-sizing: border-box;
    padding: 0px 30px;
    border-bottom: 2px rgb(187, 109, 1) solid;
}

.scrolled .main-navbar {
    border-bottom: 2px rgb(255, 255, 255) solid;
}

.logo-stride {
    font-size: 5vw;
    font-weight: bold;
    color: rgb(187, 109, 1);
    transition: 500ms ease-in;
}

.menu {
    width: 65%;
}

.menu .openMenu {
    display: none;
}

.menu .moove_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.moove_menu ul {
    display: flex;
}

.moove_menu li {
    list-style-type: none;
    margin-right: 30px;
}

.moove_menu li a {
    font-size: 1.15em;
    font-weight: 500;
    color: rgb(187, 109, 1);
}

.moove_menu li:hover a {
    color: rgb(255, 255, 255);
}

.moove_menu div {
    background-color: rgb(187, 109, 1);
    border: 2px rgb(187, 109, 1) solid;
    padding: 8px 15px;
    border-radius: 10px;
    transition: 500ms ease-in-out;
}

.moove_menu div:hover {
    background-color: rgb(255, 255, 255);
    border: 2px rgb(255, 255, 255) solid;
    transition: 500ms ease-in-out;
}

.moove_menu a {
    text-decoration: none;
    color: white;
    transition: 500ms ease-in-out;
}

.moove_menu div:hover a {
    color: rgb(187, 109, 1);
    transition: 500ms ease-in-out;
}

/*Fin en tête */

/*Bloc page */
/* Section1 */
#bloc_page {
    width: 100%;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    width: 100%;
    background-color: rgb(0, 7, 32);
    color: white;
    box-sizing: border-box;
    padding: 30px 30px;
}

.presentation h1 {
    font-size: 3.5vw;
    font-weight: bold;
}

.presentation p {
    font-size: 1.7vw;
    text-align: justify;
}

.presentation .pretext {
    display: flex;
    margin: 0px 100px;
    box-sizing: border-box;
}

.presentation .pretext article {
    margin-right: 50px;
}

.presentation .pretext aside {

    width: 350px;
    height: 350px;
    background-image: url('../images/15177.jpg');
    background-size: 480px;
    background-position: bottom;
    
    top: -100px;
    flex-shrink: 0;
    filter: brightness(70%) contrast(120%);
}

.presentation .interventions {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    flex-wrap: wrap;
    margin: 30px 0px;
}

.presentation .interventions>div {
    width: 200px;
    height: 200px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentation .interventions>div a {
    text-align: center;
}

.presentation .interventions>div svg {
    width: 80%;
    height: 150px;
    fill: rgb(255, 255, 255);
    transition: 500ms ease-in-out;
}

.presentation .interventions>div:hover svg,
.presentation .interventions>div:hover span {
    fill: rgb(187, 109, 1);
    color: rgb(187, 109, 1);
    transition: 500ms ease-in-out;
}

.presentation .interventions>div span {
    text-align: center;
    transition: 500ms ease-in-out;
}

.presentation button {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: auto;
    width: 150px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(187, 109, 1);
    transition: 500ms ease-in-out;
    border: none;
}

.presentation button a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    transition: 500ms ease-in-out;
}

.presentation button:hover {
    background-color: white;
    transition: 500ms ease-in-out;
}

.presentation button:hover a {
    color: rgb(187, 109, 1);
    transition: 500ms ease-in-out;
}

/* fin section 1 */

/* Section 2 */
.about {
    box-sizing: border-box;
    padding: 30px 0px;
}

.about h1 {
    font-size: 3.5vw;
    font-weight: bold;
    text-align: center;
}

.about .container {
    display: flex;
    justify-content: space-between;
    margin: 20px 180px;
}

.about .pretext p {
    font-size: 1.7em;
    font-weight: bold;
}

.about .pretext aside {
    width: 70%;
    min-width: 300px;
    height: 100%;
    background-image: url('../images/pexels-thirdman-5060979.jpg');
    background-size: cover;
    position: relative;
    flex-shrink: 0;
    filter: brightness(70%) contrast(120%);
}

.about .links-about {
    width: 70%;
}

.about .links-about ul {
    list-style-type: none;

}

.about .links-about ul li {
    height: 80px;
    border-top: 3px rgb(187, 109, 1) solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 300ms ease-in-out;
}

.about .links-about ul a {
    font-size: 1.5em;
    text-decoration: none;
    color: rgb(187, 109, 1);
    font-weight: 600;
    transition: 300ms ease-in-out;
}

.about .links-about ul i {
    color: rgb(187, 109, 1);

    transition: 300ms ease-in-out;
}

.about .links-about ul li:hover {
    transition: 300ms ease-in-out;
}

.about .links-about ul li:hover a {
    transition: 300ms ease-in-out;
    transform: translateX(30px);
}

.about .links-about ul li:hover i {
    transform: rotateZ(45deg);
    transition: 300ms ease-in-out;
}

.about button {
    width: 150px;
    height: 60px;
    border-radius: 5px;
    border: none;
    z-index: 10;
    background-color: rgb(187, 109, 1);
    transition: 500ms ease-in-out;
    margin-left: 40px;
}

.about button a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    transition: 500ms ease-in-out;
    font-weight: 700;
}

.about button:hover {
    background-color: white;
    transition: 500ms ease-in-out;
    border: 3px rgb(187, 109, 1) solid;
}

.about button:hover a {
    color: rgb(187, 109, 1);
    transition: 500ms ease-in-out;
}

/* Fin section 2 */

/* Section 3 */
.callToAtion {
    position: relative;
    height: 450px;
    box-sizing: border-box;
    padding: 30px 50px;
}

.callToAtion .actionImage {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 7, 32, 0.5), rgb(0, 7, 32, 0.5)), url(../images/pexels-cottonbro-6535346.webp);
    background-size: cover;

    background-attachment: fixed;
    filter: brightness(50%);
}

.callToAtion p {
    font-size: 10vh;
    text-align: right;
    font-weight: bold;
    color: white;

    cursor: pointer;
}

.callToAtion .colored {
    color: rgb(187, 109, 1);
}

.callToAtion .button {
    width: 150px;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(187, 109, 1);
    transition: 500ms ease-in-out;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    transition: 500ms ease-in-out;
    padding: 15px;
    position: relative;
    border: 2px rgb(187, 109, 1) solid;
    outline: none;
}

.callToAtion .button:hover {
    background-color: rgba(187, 109, 1, 0);
    transition: 500ms ease-in-out;
    border: 2px rgb(187, 109, 1) solid;
    color: rgb(187, 109, 1);
}

.callToAtion .button i {
    animation: 300ms elastic;
    /* transition: 300ms cubic-bezier(.17,.67,.26,1.01); */
}

@keyframes elastic {
    0% {
        transform: translateX(16px);
    }

    30% {
        transform: translateX(-10px);
    }

    60% {
        transform: translateX(8px);
    }

    100% {
        transform: translateX(0px);
    }

}

.callToAtion .button:hover i {
    transform: translateX(16px);
    animation: none;
    transition: 300ms cubic-bezier(.17, .67, .26, 1.01);
}

/* fin section 3 */

/* section 4 */
.contact {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
}

.contact h1 {
    font-size: 2rem;
}

.contact .img-contact {
    background-image: url('../images/pexels-joenibraw-1416530.webp');
    filter: brightness(50%) contrast(110%);
    background-size: cover;
    width: 50%;
    height: 500px;
}

.contact-form {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-form form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .name {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.contact .name input {
    width: 300px;
}

.contact input {
    height: 50px;
    width: 100%;
    min-width: 150px;
    margin-bottom: 20px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px black solid;
    font-size: 1.1rem;
    font-weight: 500;
}

.contact input:focus,
.contact textarea:focus {
    outline: none;
}

.contact textarea {
    height: 150px;
    width: 100%;
    min-width: 150px;
    margin-bottom: 20px;
    font-size: 1.1rem;
    font-weight: 500;
    border-left: none;
    border-top: none;
    border-right: 2px black solid;
    border-bottom: 2px black solid;
    resize: none;
}

.contact .contact-form {
    padding: 20px 30px;
    box-sizing: border-box;
}

.contact-form input[type="submit"] {
    background-color: rgb(187, 109, 1);
    border: rgb(187, 109, 1) solid 2px;
    color: white;
    border: none;
    transition: 300ms ease-in-out;
}

.contact-form input[type="submit"]:hover {
    background-color: rgba(187, 109, 1, 0);
    border: rgb(187, 109, 1) solid 2px;
    color: rgb(187, 109, 1);
    transition: 300ms ease-in-out;
}

/* fin section 4 */

/* footer */
footer {
    width: 100%;
    background-image: linear-gradient(rgba(0, 7, 32, 0.8), rgb(0, 7, 32, 0.8)), url(../images/pexels-weekendplayer-1098982.webp);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    color: white;
}

footer h1 {
    color: white;
}

footer .foot {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 80px;
    margin-top: 30px;
    gap: 40px;
    flex-wrap: wrap;
}

footer .foot>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(211, 211, 211);
    width: 25%;
}

footer .foot .follow-us>div {
    gap: 30px;
    display: flex;
    align-items: center;
}

footer .foot .follow-us .f2 {
    flex-direction: column;
    align-items: flex-start;
}

.foot>div i,
.foot>div a {
    font-size: 1.3em;
}

.foot>div a:hover {
    color: white;
}

footer .nav-links ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}

footer a {
    list-style-type: none;
    text-decoration: none;
    color: rgb(105, 105, 105);
}


footer .copyright {
    position: relative;
    bottom: 0;
    color: white;
    background-color: rgb(0, 7, 32);
    width: 100%;
    text-align: center;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
}

/* fin footer */

/* media queries */
@media (max-width:1295px) {
    .presentation .pretext {
        margin: 0px 80px;
    }

    .presentation p {
        font-size: 2vw;
    }

    .about .container {
        margin: 20px 80px;
    }

    footer .foot {
        padding: 0px 50px;
    }
}

@media (max-width:1036px) {
    .presentation .pretext {
        margin: 0px 20px;
    }

    .presentation h1 {
        font-size: 1.7em;
    }

    .presentation p {
        font-size: 1.5em;
    }

    .menu {
        position: relative;
    }

    .menu .openMenu {
        width: 40px;
        height: 40px;
        border: 1px rgb(187, 109, 1) solid;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        border-radius: 5px;
        position: absolute;
        right: 10px;
        top: -20px;
        transition: 500ms ease-in-out;
    }
    .scrolled {
        transform: translateY(0px);
    }

    .scrolled .menu .openMenu {
        border: 1px black solid;
        transition: 500ms ease-in-out;
    }
    .scrolled .menu .openMenu span{
        background-color: black;
        transition: 500ms ease-in-out;
    }

    .menu .openMenu span {
        height: 6px;
        width: 30px;
        background-color: rgb(187, 109, 1);
        border-radius: 4px;
        transition: 500ms ease-in-out;
    }
    .menu .openMenu:hover{
        background-color: white;
    }

    .menu .openMenu span:nth-child(1) {
        width: 20px;
        align-self: flex-start;
        margin-left: 5px;
    }

    .menu .openMenu span:nth-child(3) {
        width: 20px;
        align-self: flex-end;
        margin-right: 5px;
    }


    .about .container {
        margin: 20px 20px;
    }

    footer .foot {
        padding: 0px 20px;
    }

    header .top-navbar {
        display: none;
    }


    .menu .moove_menu {
        position: absolute;
        top: 8em;
        right: 0;
        width: 50%;
        height: 110vh;
        right: 0;
        background-color: rgba(187, 109, 1, 0.5);
        display: none;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding: 30px;
        backdrop-filter: blur(10px);
    }

    .moove_menu ul {
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        align-items: center;
        height: 300px;
        padding: 0;
        margin-top: 50px;
    }

    .moove_menu ul li {
        margin: 0;
    }

    .menu .moove_menu div {
        background-color: rgba(255, 255, 255, 0);
        border: none;
        padding: 0px;
        border-radius: none;
        transition: 500ms ease-in-out;
        display: none;
    }

    .moove_menu ul a {
        color: white;
        text-align: center;
    }

}
@media (max-width:900px) {
    .presentation .pretext {
        flex-direction: column;
        align-items: center;
    }
    .presentation .pretext article{
        margin: 0px;
    }
    .presentation .pretext aside{
        top: auto;
    }
    .presentation .interventions{
        flex-direction: column;
        gap: 50px;
    }
    .presentation .interventions>div {
        justify-content: space-between;
    }
    .about .container {
        margin: 0px 0px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
    }
    .about .container aside{
        width: 100%;
        height: 500px;
        margin-bottom: 20px;
    }

    .callToAtion p{
        font-size: 3.1em;
    }
    .contact{
        flex-direction: column;
    }
    .contact .img-contact,.contact .contact-form{
        width: 100%;
    }
    .about .pretext {
        width: 100%;
    }

    footer .foot {
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    footer .foot>div{
        width: 100%;
    }
}
